@media screen and (width<431px) {
    .body {
        overflow-x: hidden;
    }

    .section-page {
        display: none;
    }

    .section-but {
        display: none;
    }
    .section-navber > .menu {
        width: 45px;
        height: 45px;
        /* padding-top: 20px;
        padding-left: 120px; */
        display: inline;
    }

    .logo {
        width: 87px;
        height: 66px;
        padding-left: 2rem;
        padding-top: 1rem;
    }

    .section-main {
        display: flex;
        flex-direction: column;
    }

    .many {
         width: 25rem; 
        height: 20rem; 
        position: relative;

    }
    .welcome-to {
        position: absolute;
        padding-top:13rem ;
        
               
    }
    .hello-how {
        width: 10px;
        height: 67px;
    }
    .te{
        
        gap: 1rem;
      }
    .te h2 {
        font-size: 18px;
    }
    .te p {
        font-size: 11px;
    }
    .section-contain {
        /* background-color: green; */
        gap: 2rem;
        padding-left: 2rem;
    }
    .monday-morning {
        width: 15px;
    }

    hr{
        width: 100%;
        border: 1px solid;
    }
    .third-section {
        display: flex;
        justify-content: start;
        overflow-x: scroll ;
        gap: 2rem;
        width: 100%;
        font-family: var(--font-family);

    }
    .choris {
        width: 20rem;
    }
    .third-section p {
        font-size: 10px;
    }
    .third-section h2 {
        font-size: 16px;
    }
    .fourth-section {
        font-size: 25px;
        display: flex;
        text-align: center;
    }
    .last-section  iframe {
        width: 25rem; 
        height: 20rem;
    }



}